name: M3U analyzer
run-name: M3U analyzer (${{ inputs.streamTester || 'ffmpeg' }})

on:
  workflow_dispatch:
    inputs:
      groupsToTest:
        description: 'Number of groups to test'
        type: number
        required: true
        default: 5
      channelsToTest:
        description: 'Number of channels to test'
        type: number
        required: true
        default: 5
      retestSuccess:
        description: 'Retest succeeded.json'
        type: boolean
        required: true
        default: false
      threadsCount:
        description: 'Threads'
        type: number
        required: true
        default: 5
      streamTester:
        description: 'M3U stream tester'
        type: choice
        options:
          - ffmpeg
          - http
        required: true
        default: ffmpeg
  schedule:
    - cron: '0 6 * * *'    # Runs at 06:00 UTC

env:
  FILE: './iptv/telegram/iptv.txt'

concurrency:
  group: analyzer-queue
  cancel-in-progress: false

jobs:
  analyzer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub Repo
        uses: actions/checkout@v4
      - name: Restore telegram scripts
        if: ${{ false }}
        run: |
          gpg --decrypt --batch --passphrase "${{ secrets.PGP_PWD }}" -o ./iptv/telegram/my_session.session ./iptv/telegram/my_session.session_enc
          
          [[ -f ${{ env.FILE }} ]] && rm ${{ env.FILE }}
          pip install telethon
          declare -a tge=("ariptvstalker" "StbEmucodesStalkerPortal" "+7eels9HzyOA4ZTBl")
           for tg in "${tge[@]}";
           do
            echo "Read content of t.me/$tg"
            python ./iptv/telegram/telegram-iptv-script.py t.me/$tg >> ${{ env.FILE }}
           done
      - name: Clone repo and restore files
        run: |
          git clone https://github.com/Macadoshis/stalker-to-m3u.git
          git clone https://x-access-token:${{ secrets.GIST_TOKEN }}@gist.github.com/${{ secrets.GIST }}.git gist
          
          cp gist/succeeded.json stalker-to-m3u/tools/succeeded.json
          cp gist/failed.json stalker-to-m3u/tools/failed.json
          cp gist/sources.txt stalker-to-m3u/tools/sources.txt
          cp gist/iptv.txt stalker-to-m3u/
      - name: Update summary
        run: |
          echo "## CURRENT content" >> $GITHUB_STEP_SUMMARY
          echo -e "| succeeded.json | failed.json    |" >> $GITHUB_STEP_SUMMARY
          echo -e "|----------------|----------------|" >> $GITHUB_STEP_SUMMARY
          echo -e "| `jq 'length' ./stalker-to-m3u/tools/succeeded.json || echo 0`   | `jq 'length' ./stalker-to-m3u/tools/failed.json || echo 0`   |" >> $GITHUB_STEP_SUMMARY
      - name: Configure NODE
        uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.NODE_VERSION }}
      - name: Prepare stalker environment
        run: |
          cd stalker-to-m3u
          node -v
          npm -v
          npm config set loglevel info
          chmod u+x configure
          chmod u+x tools/iptv-analyzer
          # ./configure
          npm install
          sudo add-apt-repository ppa:savoury1/ffmpeg4
          # sudo apt update
          sudo apt install ffmpeg
          rm -rf ffmpeg ffprobe
          ln -s "$(which ffmpeg)" ./ffmpeg
          ln -s "$(which ffprobe)" ./ffprobe
          # sudo fallocate -l 4G /swapfile
          # sudo chmod 600 /swapfile
          # sudo mkswap /swapfile
          # sudo swapon /swapfile
          # free -h
      - name: Run analyzer
        run: |
          cd stalker-to-m3u
          tools/./iptv-analyzer --cache="true" --groupsToTest=${{ inputs.groupsToTest || 5 }} --channelsToTest=${{ inputs.channelsToTest || 5 }} --retestSuccess=${{ inputs.retestSuccess || false }} --streamTester=${{ inputs.streamTester || 'ffmpeg' }} --threadsCount=${{ inputs.threadsCount || 5 }} > /dev/null 2>&1
      - name: Update summary
        run: |
          echo "## RESULT content" >> $GITHUB_STEP_SUMMARY
          echo -e "| succeeded.json | failed.json    |" >> $GITHUB_STEP_SUMMARY
          echo -e "|----------------|----------------|" >> $GITHUB_STEP_SUMMARY
          echo -e "| `jq 'length' ./stalker-to-m3u/tools/succeeded.json || echo 0`   | `jq 'length' ./stalker-to-m3u/tools/failed.json || echo 0`   |" >> $GITHUB_STEP_SUMMARY
      - name: Save succeeded.json
        run: |
          cd gist
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          cp -ap ../stalker-to-m3u/tools/succeeded.json ./
          cp -ap ../stalker-to-m3u/tools/failed.json ./
          git add succeeded.json failed.json
          git commit -m "Update content (CI)" || echo "Nothing to commit"

          git push || echo "Nothing to push"

